@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: $dark-100;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-family: $font-primary;
  color: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include break($lg) {
    font-size: 14px;
    line-height: 21px;
  }
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: $font-primary;
  font-size: 16px;
  color: $white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: $font-primary;
}

h1 {
  font-size: 60px;
  line-height: 70.44px;
  letter-spacing: -0.04em;

  @include break($lg) {
    font-size: 29px;
    line-height: 34.05px;
  }
}

h2 {
  font-size: 46px;
  line-height: 54px;
  letter-spacing: -0.04em;

  @include break($lg) {
    font-size: 24px;
    line-height: 28.18px;
  }
}

h3 {
  font-size: 30px;
  line-height: 35.22px;
  letter-spacing: -0.04em;

  @include break($lg) {
    font-size: 20px;
    line-height: 23.48px;
  }
}

.link {
  transition: color $transition;
  font-size: 14px;
  line-height: 16.44px;

  @include hover {
    &:hover {
      color: $primary;
    }
  }

  &:active {
    color: $dark-30;
  }
}

.section {
  &_lighter {
    background-color: $dark-80;
  }

  &__title {
    margin-bottom: 60px;

    span {
      color: $primary;
    }
  }

  @include break($lg) {
    &__title {
      margin-bottom: 30px;
    }
  }
}
