@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  position: relative;
  background-color: $dark-100;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-family: $font-primary;
  color: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: $font-primary;
  font-size: 16px;
  color: $white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 60px;
  line-height: 70.44px;
  font-weight: 700;
  letter-spacing: -0.04em;

  @include break($lg) {
    font-size: 29px;
    line-height: 34.05px;
  }
}
