/* breakpoints */
$xl: 1440px;
$lg: 1024px;
$md: 768px;
$sm: 576px;

/* colors */
$primary: #1480e4;
$dark-100: #030a16;
$dark-80: #101622;
$dark-30: #283858;

$white: #fff;
$black: #000;

/* fonts */
$font-fallback:
  Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
$font-primary: 'Raleway', $font-fallback;

/* animations */
$transition: 0.2s ease-in-out;
